### Importing dataset

In [1]:
import pandas as pd 
df = pd.read_csv('advertising.csv')
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
df.shape

(200, 4)

In [2]:
# Normalisisng the data
df = (df - df.mean())/df.std()
df.head()

         TV     Radio  Newspaper     Sales
0  0.967425  0.979066   1.774493  1.548168
1 -1.194379  1.080097   0.667903 -0.694304
2 -1.512360  1.524637   1.779084 -0.905135
3  0.051919  1.214806   1.283185  0.858177
4  0.393196 -0.839507   1.278593 -0.215143

In [3]:
X = df.drop('Sales', axis=1)
y = df['Sales']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [11]:
# Implement gradient descent function
# Takes in X, y, current m and c (both initialised to 0), num_iterations, learning rate
# returns gradient at current m and c for each pair of m and c

def gradient(X, y, m_current=0, c_current=0, iters=1000, learning_rate=0.01):
    N = float(len(y))
    gd_df = pd.DataFrame(columns=['m_current', 'c_current', 'cost'])
    for i in range(iters):
        y_current = (m_current * X) + c_current
        cost = sum([data**2 for data in (y-y_current)]) / N
        m_gradient = -(2/N) * sum(X * (y - y_current))
        c_gradient = -(2/N) * sum(y - y_current)
        m_current = m_current - (learning_rate * m_gradient)
        c_current = c_current - (learning_rate * c_gradient)
        gd_df.loc[i] = [m_current, c_current, cost]
    return (gd_df)

In [12]:
gradients = gradient(X,y)

TypeError: unsupported operand type(s) for ^: 'str' and 'int'

In [9]:
gd_df.head()

NameError: name 'gd_df' is not defined